In [4]:
# Import necessary libraries
import pandas as pd

# Load the dataset
df = pd.read_csv(r"C:\Users\user\Desktop\NVIDIA Stock predictive analysis\NVDA data.csv")

# Display the first few rows to verify
df.head()

         Date      Open      High       Low     Close  Adj Close      Volume
0  1999-01-22  0.043750  0.048828  0.038802  0.041016   0.037621  2714688000
1  1999-01-25  0.044271  0.045833  0.041016  0.045313   0.041562   510480000
2  1999-01-26  0.045833  0.046745  0.041146  0.041797   0.038337   343200000
3  1999-01-27  0.041927  0.042969  0.039583  0.041667   0.038218   244368000
4  1999-01-28  0.041667  0.041927  0.041276  0.041536   0.038098   227520000

In [5]:
# Check for missing values
print(df.isnull().sum())

# Check data types
print(df.dtypes)

# Statistical summary
print(df.describe())

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64
Date          object
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object
              Open         High          Low        Close    Adj Close  \
count  6393.000000  6393.000000  6393.000000  6393.000000  6393.000000
mean      5.691514     5.795385     5.583315     5.696717     5.670234
std      14.150863    14.406149    13.878611    14.172098    14.174381
min       0.034896     0.035547     0.033333     0.034115     0.031291
25%       0.276917     0.285500     0.268750     0.275750     0.252925
50%       0.455000     0.463000     0.447500     0.455333     0.424676
75%       4.125000     4.167750     4.056500     4.118500     4.077091
max     132.990005   136.330002   130.690002   135.580002   135.580002

             Volume
count  6.393000e+03
mean   6.073352e+08
std    4.328103e+08
min    1.968000e+07
25%    3.477010e+08
50%    5.093040e+08
75%    7.371920e+08
max    9.230856e+09

In [7]:
# Convert the 'Date' column to datetime, automatically detecting the format
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

# Alternatively, if you want to explicitly define the format (for 'YYYY-MM-DD')
df['Date'] = pd.to_datetime(df['Date'], format='%Y-%m-%d', errors='coerce')

# Check if conversion worked
print(df.head())

        Date      Open      High       Low     Close  Adj Close      Volume
0 1999-01-22  0.043750  0.048828  0.038802  0.041016   0.037621  2714688000
1 1999-01-25  0.044271  0.045833  0.041016  0.045313   0.041562   510480000
2 1999-01-26  0.045833  0.046745  0.041146  0.041797   0.038337   343200000
3 1999-01-27  0.041927  0.042969  0.039583  0.041667   0.038218   244368000
4 1999-01-28  0.041667  0.041927  0.041276  0.041536   0.038098   227520000

In [8]:
print(df.dtypes)

Date         datetime64[ns]
Open                float64
High                float64
Low                 float64
Close               float64
Adj Close           float64
Volume                int64
dtype: object

In [9]:
# Create a 7-day Moving Average
df['7_day_MA'] = df['Close'].rolling(window=7).mean()

# Create a 30-day Moving Average
df['30_day_MA'] = df['Close'].rolling(window=30).mean()

# Calculate daily returns
df['Daily_Return'] = df['Close'].pct_change()

# Calculate rolling standard deviation (volatility) over 30 days
df['Volatility'] = df['Daily_Return'].rolling(window=30).std()

# Display the dataset with new features
print(df.head())

        Date      Open      High       Low     Close  Adj Close      Volume  \
0 1999-01-22  0.043750  0.048828  0.038802  0.041016   0.037621  2714688000
1 1999-01-25  0.044271  0.045833  0.041016  0.045313   0.041562   510480000
2 1999-01-26  0.045833  0.046745  0.041146  0.041797   0.038337   343200000
3 1999-01-27  0.041927  0.042969  0.039583  0.041667   0.038218   244368000
4 1999-01-28  0.041667  0.041927  0.041276  0.041536   0.038098   227520000

   7_day_MA  30_day_MA  Daily_Return  Volatility
0       NaN        NaN           NaN         NaN
1       NaN        NaN      0.104764         NaN
2       NaN        NaN     -0.077594         NaN
3       NaN        NaN     -0.003110         NaN
4       NaN        NaN     -0.003144         NaN

In [10]:
df.to_csv("cleaned_nvda_data.csv", index=False)

In [12]:
df.to_csv(r"C:\Users\user\Desktop\NVIDIA Stock predictive analysis\cleaned_nvda_data.csv", index=False)